.cp_subsections {
  display: grid;
  margin: 2%;
}

.cp_subsections_btn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

label {
  margin: 1%;
}

input {
  height: 50px;
  border-style: solid;
  border-radius: 10px;
}
