/* body{
    background-color: bisque;
} */

/*--------------------------table---------------------------------*/

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgba(2, 2, 119, 0.26);
}

thead {
  width: 2%;
  text-align: center;
  justify-content: center;
  height: 80px;
  background-color: rgba(2, 2, 119, 0.26);

}

td {
  width: 1%;
  text-align: center;
}


/*--------------------------card---------------------------------*/

.parent_cards_total {
  display: flex;
}

#all_cards {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
}

.media_card {
  display: flex;
  background-color: rgba(133, 133, 133, 0.473);
  width: 510px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.image {
  /* margin: 2px; */
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.card_details {
  margin: 20px;
}

.check_card {
  display: flex;
}

.total_price {
  width: 14%;
}
