.expand_site_modal_body {
  display: grid !important;
  width: 100%;
}

.expand_site_modal_body_images {
  display: flex;
  justify-content: space-evenly;
}

.expand_site_modal_body_site_details {
  display: flex;
  justify-content: space-evenly;
  line-height: 200%;
}
